name: Java Build CI
on:
  push:
    branches:
      - master
      - '[1-9]+.[0-9]+.x'
      - '[1-9]+.[0-9]+.[0-9]'
  pull_request:
    branches:
      - master
      - '[1-9]+.[0-9]+.x'
      - '[1-9]+.[0-9]+.[0-9]'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '11', '14']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Optional setup step
        run: |
          [ -f ./setup.sh ] && ./setup.sh || true
      - name: Build with Gradle
        run: ./gradlew check --parallel --continue
        env:
          TESTCONTAINERS_RYUK_DISABLED: true
